.jumbo{
    background-image: url("/images/jumbotron.jpg");
    background-size: cover;
    height: 250px;
}

main{
    position: relative;
    background-color: #333;
    
    .button{
        padding: 10px;
        background-color: #007FFF;
        color: #FFF;
        font-weight: bold;
        border: none;
        position: absolute;
        top: -20px;
        left: 200px;
    }

    .container{
        display: flex;
        justify-content: center;

        .container-card{
            width: 1200px;
            height: 800px;
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            color: #FFF;

            .card-dc {
                width: 15%;
                height: 300px;
                padding: 20px 15px;

                img{
                    width: 100%;
                }
            }

            p{
                padding: 10px 0;
                margin: 0;
            }

            .button-load{
                padding: 10px;
                background-color: #007FFF;
                color: #FFF;
                font-weight: bold;
                border: none;  
                height: 44px;
                width: 145px;
                margin-top: 60px;
            }
        }
    }
}